.App {
  text-align: center;
  height: 100vh;
}
.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}
.map-container { 
  width: 100%; 
  height: 70vh; 
}

.map {
  width: 100%;
  height: 100%;
}

.btnBusCol {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid-container {
  max-width: 1000px;
  margin: 0 auto 10px;
}